/*
Name : Krish Patel
File : Part 1.html
Date : 20 Febuary 2025
*/
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: #375e97;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 1px solid #375e97;
  }
  
  
    h2 {
      font-size: 1.5em;
      font-style: italic;     /* font styl */
      font-weight: bold;
  }
  
  ..job-title {
    color: #999999;
    font-weight: bold;
    margin-block-start: 1em;
  }
  
  a:link,
  a:visited {
    color: #fb6542;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  

  .dots {
    text-align: center;
    color: #800068;     /* purple color for the dots */
    font-size: 1.5em;
  }

  ul {
    border: 4px solid purple;
    padding: 30px;
    background-color: #f9f9f9;
    line-height: 1.5;
  }

  p {
    line-height: 1.5;
  }

  